body{
  background-color: lightblue;
}


.wrapper{
  background-color: white;
  margin: auto;
height: 100vw;
width: 80%;
}

.header{
  text-align: center;
  border: solid 3px black;
  background-color: lightgreen;
}

h1{
  font-size: 70px;
  font-family: sans-serif;
  color: white;
}

h2{
  font-size: 40px;
  font-family: sans-serif;
}

h3{
  font-size: 30px;
  font-family: sans-serif;
}

h4{
  font-size: 20px;
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  font-size: 30px;
  margin: 10px;
}

.navbar{
  float: none;
  background-color: gray;
  margin-top: -16px;
}

.body{

}



ul{
  text-align: center;
}

li{

}

ul li{

    font-family: sans-serif;
    display: inline-block;
    line-height: 40px;
    list-style: none;
    padding: 10px;
    font-size: 30px;
    color: white;
}

ul li a{
  text-decoration: none;
  color: white;
  margin: 15px;
}
